@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, p, figure {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, button {
  line-height: 1.1;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for buttons */
button {
  font-family: inherit;
  font-size: inherit;
}
/* Resets complete */

/* Variables */
:root {
  /* Colors */
  --cyan-600: #4D96A9;
  --cyan-300: #8FE3F9;
  --purple-600: #855FB1;
  --purple-300: #D9B8FF;
  --slate-900: #28283D;
  --slate-600: #87879D;
  --slate-300: #D1D1DF;
  --white: #FAFAFA;

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;

  /* Font */
  --red-hat-display: 'Red Hat Display', sans-serif;
  --font-medium: 500;
  --font-black: 900;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --text-preset-3: 0.75rem;
  --text-preset-4: 1rem;
}

body {
    font-family: var(--red-hat-display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h1, h2 {
    color: var(--slate-900);
}

p {
    color: var(--slate-600);
}

button {
  border-radius: 10rem;
  border: none;
  font-weight: var(--font-black);
  font-size: 1rem;
  padding: var(--spacing-200) var(--spacing-500);
  line-height: 1.5;
  cursor: pointer;
}

.button-cyan {
  background-color: var(--cyan-600);
  color: var(--white);
}

.button-cyan:hover, .button-cyan:active, .button-cyan:focus {
  background-color: #71C0D4;
}

.cyan-text {
  color: var(--cyan-300);
  margin-left: var(--spacing-50);
}

.purple-text {
  color: var(--purple-300);
  margin-left: var(--spacing-50);
}

.button-purple {
  background-color: var(--purple-600);
  color: var(--white);
}

.button-purple:hover, .button-purple:active, .button-purple:focus {
  background-color: #B18BDD;
}

/* Landmarks */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-600);
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
}

/* Hero content */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-600);
  padding: var(--spacing-800) 0 var(--spacing-400);
  overflow: hidden;
}

.combined-hero-image {
  max-width: 115%;
}

.hero-faces-left, .hero-faces-right {
  display: none;
}

.hero-text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-400);
  gap: var(--spacing-300);
  max-width: 28rem;
}

h1 {
  text-wrap: balance;
}

.hero-text-content-paragraph {
  font-size: var(--text-preset-4);
  font-weight: var(--font-medium);
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
}

/* Section numbers */
.section-number {
  color: var(--slate-600);
  font-weight: var(--font-black);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--white);
  /* Border inside */
  -webkit-box-shadow:inset 0px 0px 0px 1px var(--slate-300);
  -moz-box-shadow:inset 0px 0px 0px 1px var(--slate-300);
  box-shadow:inset 0px 0px 0px 1px var(--slate-300);
}

.section-number-line {
  border-left: 1px solid var(--slate-300);
  height: 5rem;
}

/* Main content */
.main-content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-800);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--spacing-200);
  margin: var(--spacing-800) 0 var(--spacing-800);
}

.grid-image {
  border-radius: 0.5rem;
}

.main-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-400);
}

.main-text-content-title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.main-text-content-subtitle {
  color: var(--cyan-600);
  font-size: var(--text-preset-3);
  font-weight: var(--font-black);
  text-transform: uppercase;
  letter-spacing: var(--spacing-50);
  line-height: 1.1;
}

.main-text-content-paragraph {
  font-size: var(--text-preset-4);
  font-weight: var(--font-medium);
}

#section-number-two {
  margin-bottom: -1.75rem;
  z-index: 2;
}

.footer-hero {
  position: relative;
  width: 100%;
}

.footer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.footer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-content-container {
  width: 100%;
  padding: var(--spacing-800) var(--spacing-400);
  background-color: #4d97a9d5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  gap: var(--spacing-300);
  width: 100%;
}

.footer-content h2 {
  color: var(--white);
}

.footer-content-paragraph {
  font-size: var(--text-preset-4);
  font-weight: var(--font-medium);
  color: var(--white);
}

@media screen and (min-width: 768px){
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --text-preset-3: 0.875rem;
    --text-preset-4: 1rem;
  }

  .hero {
    gap: var(--spacing-900);
    padding-bottom: var(--spacing-800);
  }

  .hero-text-content {
    padding: 0;
    width: 28rem;
  }

  .hero-buttons {
    flex-direction: row;
  }

  .main-content-section {
    padding-top: var(--spacing-700);
  }

  .main-image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: var(--spacing-300);
    margin: var(--spacing-800) 0 var(--spacing-800);
  }

  .main-text-content {
    max-width: 31.5rem;
  }

  .main-text-content-title {
    max-width: 27.813rem;
  }

  .footer-content {
    max-width: 31.5rem;
  }
}

@media screen and (min-width: 992px){
  :root {
    --font-size-h1: 4rem;
    --font-size-h2: 2.5rem;
    --text-preset-3: 1rem;
    --text-preset-4: 1.125rem;
  }

  header {
    padding-top: var(--spacing-1000);
  }

  .combined-hero-image {
    display: none;
  }

  .hero-faces-left {
    display: block;
    background: url('./assets/desktop/image-hero-left.png');
    background-repeat: no-repeat;
    background-position: center left -1rem;
    background-size: contain;
    width: 100%;
    height: 100%;
    transform: translateY(-1.5rem);
  }

  .hero-faces-right {
    display: block;
    background-image: url('./assets/desktop/image-hero-right.png');
    background-repeat: no-repeat;
    background-position: center right -1rem;
    background-size: contain;
    width: 100%;
    height: 100%;
    transform: translateY(1.5rem);
  }

  .hero {
    gap: var(--spacing-600);
    padding: var(--spacing-800) 0 var(--spacing-400);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* One column layout */
    place-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 90rem;
  }

  .main-content-section {
    padding: var(--spacing-700) var(--spacing-1000) var(--spacing-900);
  }

  .main-content {
    max-width: 70rem;
  }

  .main-image-grid {
    gap: var(--spacing-400);
  }

  .main-text-content {
    max-width: 34rem;
  }

  .footer-content-container {
    padding: var(--spacing-1400) var(--spacing-1000);
  }

  .footer-content {
    max-width: 70rem;
    flex-direction: row;
    text-align: left;
    align-items: start;
    gap: var(--spacing-400);
  }

  .footer-content h2 {
    max-width: 27.813rem;
  }

  .footer-content-paragraph {
    max-width: 22.188rem;
  }
}



