@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, p, figure {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, button {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for buttons */
button {
  font-family: inherit;
  font-size: inherit;
}
/* Resets complete */

/* Variables */
:root {
  /* Colors */
  --cyan-600: #4D96A9;
  --cyan-300: #8FE3F9;
  --purple-600: #855FB1;
  --purple-300: #D9B8FF;
  --slate-900: #28283D;
  --slate-600: #87879D;
  --slate-300: #D1D1DF;
  --white: #FAFAFA;

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;

  /* Font */
  --red-hat-display: 'Red Hat Display', sans-serif;
  --font-medium: 500;
  --font-black: 900;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-medium: 1.125rem;
}

body {
    font-family: var(--red-hat-display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h1, h2 {
    color: var(--slate-900);
}

p {
    color: var(--slate-600);
}

button {
    border-radius: 10rem;
    border: none;
    font-weight: var(--font-black);
    font-size: 1rem;
    padding: var(--spacing-200) var(--spacing-500);
    line-height: 1.5;
    cursor: pointer;
}

.button-cyan {
    background-color: var(--cyan-600);
    color: var(--white);
}

.button-cyan:hover, .button-cyan:active, .button-cyan:focus {
    background-color: #71C0D4;
}

.cyan-text {
  color: var(--cyan-300);
  margin-left: var(--spacing-50);
}

.button-purple {
    background-color: var(--purple-600);
    color: var(--white);
}

.button-purple:hover, .button-purple:active, .button-purple:focus {
    background-color: #B18BDD;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-600);
}

/* Hero content */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "images"
        "content";
    gap: var(--spacing-200);
    margin-top: var(--spacing-800);
}

.hero-images {
    grid-area: images;
    display: flex;
    gap: var(--spacing-200);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#hero-left, #hero-right {
    width: 50%;
    object-fit: cover;
}

.hero-text-content {
    grid-area: content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-400);
    gap: var(--spacing-300);
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
}

/* Main content */
.section-number {
  color: var(--slate-600);
  font-weight: var(--font-black);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  line-height: 1.5;
  background-color: var(--white);
  /* Border inside */
  -webkit-box-shadow:inset 0px 0px 0px 1px var(--slate-300);
  -moz-box-shadow:inset 0px 0px 0px 1px var(--slate-300);
  box-shadow:inset 0px 0px 0px 1px var(--slate-300);
}

.section-number-line {
  border-left: 1px solid var(--slate-300);
  height: 5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-800);
}

.main-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--spacing-200);
  margin: var(--spacing-800) 0 var(--spacing-800);
}

.grid-image {
  border-radius: var(--spacing-200);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



